@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
:root {
	--font-a: "Raleway", sans-serif;
	--font-b: sans-serif;
	--color-a: black;
	--color-b: white;
	--color-c: #292f36;
	--color-d: #4ecdc4;
	--color-e: #ff6b6b;
	--color-e-hover: rgb(248, 123, 123);
	--color-f: #b33ceb;
	--color-f-hover: #ba58e7;
	--color-g: #3ceb8b;
	--color-g-hover: #60d394;
	--color-h: rgb(113, 112, 112);
}

* {
	font-family: var(--font-b);
	margin: 0;
	padding: 0;
	/* outline: 1px solid red; */
	background-color: var(--color-a);
}

body {
	text-align: center;
}

button {
	background-color: transparent;
}
